{% extends "polls/base.html" %}

{% block content %}
    <div>
        <h1>Create Choices</h1>
        <form action="" method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form_choices.as_p}}
        <input type="submit" value="create">
        {% comment %} <button hx-post="{% url 'polls:add-choice' %}" hx-target="#choice-list" type="submit">Create</button> {% endcomment %}
        </form>
    </div>
    <br>

    <div id="choice-list">
        {% include "partials/choice_list.html" %}
    </div>

{% endblock content %}