{% extends "polls/base.html" %}
{% block content %}

{% if questions %}
<ul>
    {% for question in questions  %}
    <li>
        <a href="{% url 'polls:detail' question.id %}">{{ question.id}} | {{ question.question_text }} | {{ question.pub_date }}</a>
        <a href="{% url 'polls:question_update' question.id %}">Edit Question</a>
        <a href="{% url 'polls:question_delete' question.id %}">Delete Question</a>
        <a href="{% url 'polls:create_choices' question.id %}"><input type="submit" value='Create Choices'></a>
    </li>
    {% endfor %}
</ul>
{% else %}
    <p>No polls are available</p>
{% endif %}

{% endblock content %}